:root {

	--branco-principal:#FFFFFF;
	--cinza-secundario:#C0C0C0;
	--botao-azul:#167BF7;
	--cor-de-fundo:#00030C;
	--fonte-principal:'inter';
}




body {

	background-color: var(--cor-de-fundo);
	color:var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size:16px;
	font-weight:400;

	

}

*{
	margin:0;   /* AQUI É COMO SE FOSSE UM 'RESET CSS' SÓ QUE APENAS DEFININDO A MARGIN E PADDING COMO 0 PARA TODO O NAVEGADOR, AO INVÉS DE ALGO MAIS COMPLETO DO RESET CSS */
	padding:0;

   
}


.principal {

	background-image:url("Background.png"); 
	background-repeat: no-repeat;
	align-items:center;   /* COMO O GRID FOI SELECIONADO, ELE ALINHOU TODOS OS ITENS DAQUELA METADE DO BLOCO AO CENTRO DELA */
	background-size:99.8%;
	
	/* O código começa com um elemento de bloco (a section), ou seja, que tem display block, e há elementos dentro dele que são inline. 
	Dessa maneira, usar a propriedade text-align na section ou div,  permitirá alinhar para qualquer lado que você desejar os elementos filhos da div ou section. */
	

}

.container /*AQUI FOI CRIADO DUAS CLASSES (principal e container), APENAS SEPARADAS POR ESPAÇO*/ {

	height:99.5vh;
	display:grid; /* ATIVA O grid PARA ESCOLHER A PROPORÇÃO DA TELA DE TRABALHO */
	grid-template-columns:50% 50%;  /* DIVIDE A TELA NA VERTICAL EM 50% 50% */

	

}

.container__caixa {


	margin:0 6em;


}

.container__titulo {
 	
 	width:832px;
 	text-align: center;
	font-size: 28px;
	font-weight:700;
	margin-bottom:1em;
	
	
	
}

.container__imagem {

	position: relative;
	left:238px;
	margin-bottom: 1em;
	margin-top: 2em;

	
}


.container__botao {

	width:800px;
	background-color: var(--botao-azul);
	border-radius: 5px;
	padding:1em;
	color:var(--branco-principal);
	display:block;
	text-decoration: none;
	margin-bottom:0.8em;
	margin-top: 1em;
	text-align: center; 
}


.container__botao:hover{

	background-color:var(--botao-azul);
	color:var(--cor-de-fundo);
}


.botao__secundario {

	background-color: transparent;
	border:2px solid var(--branco-principal);
	border-radius:5px;
}

.container__aviso {


	width:870px;
	font-size:12px;
	color:var(--cinza-secundario);
	text-align: center; 

	


}

.secundario__imagem {

	width:80%;	 /* LARGURA DEFINIDA PRINCIPALMENTE PARA QUANDO ALGUÉM ACESSAR DE ALGUM DISPOSITIVO DE TELA MENOR, A IMAGEM NÃO SOBREPOR O TEXTO */
}

.secundario {

	align-items: center;
	margin: 0 10em;
}

.descricao__titulo {

	font-size: 48px;
	font-weight: 700;
	color:var(--branco-principal);
	margin-bottom:0.1em;
}

.descricao__texto{


	font-size: 16px;
	font-weight: 400;
	color:var(--cinza-secundario);

}

.secundario__botao {

	display: inline-block;
	margin-top: 1em;
	width:134px;
}

.container__descricao {

	padding:2em;
}


.dispositivos {

	text-align: center;


}


.dispositivos__titulos {

	font-size:48px;
	font-weight:700;
	

}

.dispositivos__lista {

	display: flex; /* FEZ TODOS OS ITENS DESSA LISTA NÃO ORDENADA FICAREM UM DO LADO DO OUTRO, QUE POR PADRÃO, O flex FAZ UM ALINHAMENTO POR LINHAS ( OU SEJA, ELE FAZ UM flex direction em rols (linhas)) ESSE É O CONHECIDO FLEXBOX*/
	justify-content: center;  /* ALINHOU TODOS OS ITENS DA LISTA */
	list-style-type: none; /* POR PADRÃO, OS ITENS DE UMA LISTA VEM COM UM PONTINHO BRANCO QUE INDICA CADA ITEM. NESTE CASO, RETIRAMOS ESSES PONTOS */
	margin:6em 0; }


.lista__item {

	font-size:32px;
	font-weight:700;
	color:var(--branco-principal);
	margin-bottom: 2em;
}




.rodape__lista{

	display: flex; /* O flexbox facilita a questão de alinhamento (align-items) e posicionamento (justify-content) pelos atributos que ele "desbloqueia" pra colocar nos flex-items, */
	justify-content: center;
	list-style-type: none;
	margin:3em 0;
	
}


.rodape__logo {

  display: block;
  margin:auto;
  text-align: center;


}


.lista__link a {	

	margin:0.5em 1.2em;
	text-decoration:none;
	font-size:16px;
	font-weight:400;
	color:var(--branco-principal);
		

}


.lista__link a:hover {	

	
	color:var(--botao-azul);
		

}



.lista__link a:active{	

	
	color:purple;

		

}



.rodape__texto {

	font-size: 14px;
	font-weight:400;
	color:var(--cinza-secundario);
	margin:1em 0 2em 0;
	text-align: center;

}






/* ANOTAÇÕES 



LINKS DEPOIS DO CURSO https://medium.com/collabcode/pare-de-chutar-e-aprenda-como-funciona-o-display-inline-block-4e6cba2f19d4 
 
 https://developer.mozilla.org/pt-BR/docs/Web/CSS/Pseudo-classes
